@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Azure devops Learning</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">BCBTraining 1  Web apps with ASP.NET Core</a>.</p>
</div>
